PORT=3000
PAYMENT_API_URL=https://api.ironpayapp.com.br/api/public/v1
PAYMENT_API_KEY=
PAYMENT_PIX_ENDPOINT=/transactions
IRONPAY_OFFER_HASH=
IRONPAY_PRODUCT_HASH=
IRONPAY_POSTBACK_URL=https://seu-dominio.com/api/webhooks/ironpay
IRONPAY_EXPIRE_IN_DAYS=1
DEFAULT_PHONE_NUMBER=21999999999
DEFAULT_DOCUMENT=00000000000
DEFAULT_STREET_NAME=Produto Digital
DEFAULT_ADDRESS_NUMBER=0
DEFAULT_COMPLEMENT=
DEFAULT_STATE=RJ
DEFAULT_CITY=Rio de Janeiro
DEFAULT_NEIGHBORHOOD=Centro
DEFAULT_ZIP_CODE=20000000
IRONPAY_WEBHOOK_SECRET=
